.menuMobile {
  .containerCenter {
    width: calc(100% - 70px);
    height: 100%;
    position: fixed;
    display: block;
    background: $vermelho;
    overflow: auto;
    top: 0;
    z-index: 99;
    left: -100%;
    transition: all linear 0.5s;

    &.active {
      left: 0;
      transition: all linear 0.5s;

      .menuMobile-close {
        right: 0;
        transition: all linear 0.5s;

        &:before {
          right: 0;
          transition: all linear 0.5s;
        }
      }
    }

    &::-webkit-scrollbar {
      width: 5px;
    }

    &::-webkit-scrollbar-track {
      background: $cinza-border;
    }

    &::-webkit-scrollbar-thumb {
      background: $cinza-medio;
    }

    &::-webkit-scrollbar-thumb:hover {
      background: $cinza-escuro;
    }
  }

  &-close {
    width: 70px;
    height: 97px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    background: $vermelho;
    right: -100%;
    top: 0;
    transition: all linear 0.5s;

    &::after{
      content: 'x';
      display: block;
      font-family: $text-font2;
      font-size: 38px;
      color: $branco;
    }

    &:before {
      content: "";
      width: 70px;
      height: calc(100% - 97px);
      position: fixed;
      background: rgba(0, 0, 0, 0.8);
      top: 97px;
      right: -1000px;
    }
  }

  &-saudacao {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-end;
    padding: 59px 16px 16px 16px;
    border-bottom: 1px solid $branco;

    &__icon {
      width: 23px;
      height: 23px;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      margin-right: 4px;

      &::after{
        content: '\e913';
        display: block;
        font-family: 'icomoon';
        font-style: normal;
        font-size: 20px;
        color: $branco;

      }
    }

    &__text {
      width: calc(100% - 27px);
      display: flex;
      justify-content: center;
      align-items: center;

      a {
        width: 100%;
        display: block;
        font-size: 14px;
        font-family: $text-font2;
        color: $branco;
        overflow: hidden;
        display: inline-flex;

        .mail {
          width: 100px;
          font-size: 14px;
          font-family: $text-font2;
          color: $branco;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
          margin-left: 4px;
        }

        u {
          font-size: 14px;
          font-family: $text-font2;
          color: $branco;

          &:first-child {
            margin-right: 4px;
          }

          &:last-child {
            margin-left: 4px;
          }
        }
      }

      &Arrow {
        width: 8px;
        height: 8px;
        display: inline-flex;
        justify-content: center;
        align-items: center;

        &::after{
          content: '\f107';
          font-family: 'FontAwesome';
          font-style: normal;
          color: $branco;
        }
      }
    }

    &__drawer {
      display: none;
      margin-top: 8px;
    }

    &__item {
      a {
        display: block;
        font-size: 14px;
        font-family: $text-font2;
        color: $branco;
        padding: 8px 0;
      }
    }
  }

  &-carrinho {
    a {
      display: flex;
      align-items: center;
      padding: 16px;
    }

    &__icon {
      width: 24px;
      height: 24px;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      margin-right: 4px;

      &::after{
        content: '\e902';
        display: block;
        font-family: 'icomoon';
        font-style: normal;
        font-size: 26px;
        color: $branco;
      }
    }

    &__text {
      display: inline-block;
      font-family: $text-font2;
      font-size: 14px;
      color: $branco;
    }
  }

  &-busca {
    width: 100%;
    display: inline-flex;
    align-items: center;
    padding: 16px;

    .busca {
      width: 100%;
      position: relative;
      border: 0;

      &::after {
        content: "\e90b";
        width: 50px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        font-family: 'icomoon';
        font-size: 26px;
        color: $vermelho;
        background: #eee;
        border-radius: 50%;
        right: 0px;
        top: 1.5px;
      }

      legend,
      label,
      select {
        display: none;
      }

      .fulltext-search-box {
        width: calc(100% - 25px);
        height: 50px;
        font-size: 13px;
        font-family: $text-font2;
        color: $text-color;
        border-radius: 30px 0 0 30px;
        border: 1px solid $cinza-claro;
        box-sizing: border-box;
        padding: 0 14px;

        &:focus {
          border: 2px solid $cinza-medio;
        }
      }

      .btn-buscar {
        width: 50px;
        height: 50px;
        display: inline-block;
        position: relative;
        background: transparent;
        border-radius: 50%;
        border: 0;
        text-indent: -9999px;
        margin-left: -26px;
        top: 1.5px;
        cursor: pointer;
        z-index: 9;
      }
    }
  }

  &-nossaEmpresa {
    a {
      width: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      background: $branco;
      padding: 16px;
    }

    &__icon {
      width: 32px;
      height: 28px;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      margin-right: 4px;

      &::after{
        content: '\e915';
        display: block;
        font-family: 'icomoon';
        font-size: 28px;
        color: $vermelho;
      }
    }

    &__text {
      font-family: $text-font2;
      font-size: 14px;
    }
  }

  &-menu {
    &List {
      &__item {
        a {
          width: 100%;
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 18px 16px;
          border-bottom: 2px solid $branco;
        }

        &Text {
          font-weight: 700;
          font-family: $text-font2;
          font-size: 17px;
          color: $branco;
          margin-right: 5px;
        }

        &Icon {
          width: 30px;
          height: 20px;
          display: inline-flex;
          justify-content: center;
          align-items: center;
        }

        &#outlet{
          a{
            justify-content: flex-start;
          }
        }

        &Arrow {
          display: inline-flex;
          flex-grow: 1;
          justify-content: flex-end;

          &::after {
            content: "\e91d";
            width: 23px;
            height: 23px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: 'icomoon';
            font-style: normal;
            font-size: 20px;
            color: $branco;
            transition: all linear .4s;
            
          }
        }

        &.active > a > {
          .menuMobile-menuList__itemArrow{
            &:after{
                transform: rotate(-180deg);
                transition: all linear .4s;
            }
          }
      }

        &.todos_departamentos {
          background: $cinza-escuro;

          > .menuMobile-menuSub {
            background: $vermelho;
          }
        }
      }
    }

    &Sub {
      width: 100%;
      display: none;
      background: $branco;

      &__item {
        &.ver-todos {
          a {
            background: $cinza-escuro;
            p {
              color: $branco;
            }
          }
        }

        a {
          width: 100%;
          display: block;

          p {
            font-size: 15px;
            font-family: $text-font2;
            text-transform: uppercase;
          }
        }
      }
    }
  }
}

  //Icones

.menuMobile{
  &-menuList{
    &__item{

      &Icon{
        &::before{
          width: 100%;
          font-family: 'icomoon';
          font-style: normal;
          text-align: center;
          color: $branco;
        }
      }

      &.departamentos{
        .menuMobile-menuList__itemIcon{
          &::before{
            content: '\e921';
          }
        }
      }

      //Iliminação
      &#cat3{
        .menuMobile-menuList__itemIcon{
          &::before{
            content: '\e905';
            font-size: 20px;
          }
        }
      }

      //Retrovisores
      &#cat9{
        .menuMobile-menuList__itemIcon{
          &::before{
            content: '\e90d';
            font-size: 20px;
          }
        }
      }

      //Calotas
      &#cat21{
        .menuMobile-menuList__itemIcon{
          &::before{
            content: '\e906';
            font-size: 22px;
          }
        }
      }

      //Som
      &#cat22{
        .menuMobile-menuList__itemIcon{
          &::before{
            content: '\e90e';
            font-size: 22px;
          }
        }
      }

      //Grades
      &#cat23{
        .menuMobile-menuList__itemIcon{
          &::before{
            content: '\e918';
          }
        }
      }

      //Limpeza
      &#cat26{
        .menuMobile-menuList__itemIcon{
          &::before{
            content: '\e901';
            font-size: 22px;
          }
        }
      }

      //Palhetas
      &#cat27{
        .menuMobile-menuList__itemIcon{
          &::before{
            content: '\e919';
          }
        }
      }

      //Acessórios
      &#cat30{
        .menuMobile-menuList__itemIcon{
          &::before{
            content: '\e910';
            font-size: 22px;
          }
        }
      }

      //Ferramentas
      &#cat19{
        .menuMobile-menuList__itemIcon{
          &::before{
            content: '\e91a';
          }
        }
      }

      //Segurança
      &#cat32{
        .menuMobile-menuList__itemIcon{
          &::before{
            content: '\e90c';
            font-size: 22px;
          }
        }
      }

      //Outlet 
      &#outlet{
        .menuMobile-menuList__itemIcon{
          &::before{
            content: '\e91c';
            font-size: 22px;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1000px) {
  .TopbarMobile,
  .headerMobile,
  .menuMobile {
    display: none;
  }
}
