<div class="informativos">

    <ul class="informativos-leftList">
        <li class="informativos-leftList__item">
            <p> <b>10% off</b> </p>
        </li>
        <li class="informativos-leftList__item">
            <p> Frete <b>Grátis</b> </p>
        </li>
        <li class="informativos-leftList__item">
            <p> Parcele <b>Até 12x</b> </p>
        </li>
        <li class="informativos-leftList__item">
            <p> <b>Variedade</b> de Peças </p>
        </li>
    </ul>

    <ul class="informativos-rightList">
        <li class="informativos-rightList__item">
            <p> 
                <b>Fale conosco</b> 
                <span class="informativos-rightList__itemIcon"> </span>
                (11) 4118-2671
            </p>
        </li>
    
        <li class="informativos-rightList__item">
            <a href="https://api.whatsapp.com/send?phone=5511934234224&text=Ol%C3%A1!!!" target="_blank">
                <span class="informativos-rightList__itemIcon"> </span>
            </a>
        </li>
        <li class="informativos-rightList__item">
            <a href="https://www.instagram.com/adoromeucarro/" target="_blank">
                <span class="informativos-rightList__itemIcon"> </span>
            </a>
        </li>
        <li class="informativos-rightList__item">
            <a href="https://www.facebook.com/AdoroMeuCarroOficial/" target="_blank">
                <span class="informativos-rightList__itemIcon"> </span>
            </a>
        </li>
        <li class="informativos-rightList__item">
            <a href="https://www.youtube.com/channel/UC499RcGXBfSqLFIyBI4ZCsg" target="_blank">
                <span class="informativos-rightList__itemIcon"> </span>
            </a>
        </li>
        <li class="informativos-rightList__item">
            <a href="https://www.linkedin.com/company/adoro-meu-carro/" target="_blank">
                <span class="informativos-rightList__itemIcon"> </span>
            </a>
        </li>
    </ul>

</div>
