<link rel="preconnect" href="https://maxcdn.bootstrapcdn.com"/>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" />
<link rel="shortcut icon" href="/arquivos/{{loja}}-favicon.ico" />
<link rel="preconnect" href="https://fonts.gstatic.com"/>
<link href="https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,400;0,600;0,800;1,400&amp;display=swap" rel="stylesheet"/>
<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;700&amp;display=swap" rel="stylesheet"/>
<link href="/arquivos/slick.css" rel="stylesheet" type="text/css" />
<link href="/arquivos/sweetalert2.min.css" rel="stylesheet" type="text/css" />
<link href="/arquivos/{{loja}}-style.css" rel="stylesheet" type="text/css" />