<div id="percentualBoleto" style="display: none;">
    <vtex.cmc:percentualBoleto />
</div>

<vtex.cmc:btnWhatsApp />

<!--Estrtura newsletter-->
<article class="containerFull newsletter">
    <section class="containerCenter">
        <h2 class="newsletter__title"> Cadastre-se 
            <p> e receba dicas e novidades! </p>
        </h2>
        <div class="newsletter__form"> 
            <input class="newsletter__form-nome" type="text" placeholder="Digite seu nome"/>
            <input class="newsletter__form-carro" type="text" placeholder="Qual o seu carro?"/>
            <input class="newsletter__form-email" type="email" placeholder="Digite seu email"/>
            <button class="newsletter__form-btnEnviar">Enviar</button>
        </div>
    </section>
</article>

<footer>

    <!-- Estrutura footer -->
    <article class="containerFull footer">
        <section class="containerCenter">
            <div class="footer__column column-01">
                <ul>
                    <li class="footer__column-logo">
                        <vtex.cmc:{{loja}}Logo />
                    </li>
                    <li class="footer__column-atendimento">
                        <h4> Atendimento </h4>
                        <p> Segunda a Sexta-Feira das 08h às 17H </p>
                    </li>
                    <li class="footer__column-faleconosoco">
                        <h4> Fale conosco </h4>
                        <p class="phone"> (11) 4118-2671 </p>
                    </li>
                </ul>
            </div>
            <div class="footer__column column-02">
                <h4> Institucional <span class="arrow"> </span> </h4>
                <ul class="footer__column-list">

                    <li class="footer__column-listItem"> 
                        <a href="/institucional/nossa-empresa">
                            Sobre nós 
                        </a>
                    </li>

                    <li class="footer__column-listItem"> 
                        <a href="/institucional/nossa-empresa#politica-privacidade">
                            Segurança 
                        </a>
                    </li>

                    <li class="footer__column-listItem"> 
                        <a href="/institucional/nossa-empresa#comoComprar">
                            Nossa Loja 
                        </a>
                    </li>

                </ul>
            </div>
            <div class="footer__column column-03">
                <h4> Para você <span class="arrow"> </span> </h4>
                <ul class="footer__column-list">

                    <li class="footer__column-listItem"> 
                        <a href="/login">
                            Login 
                        </a>
                    </li>

                    <li class="footer__column-listItem"> 
                        <a href="/account/orders">
                            Meus Pedidos 
                        </a>
                    </li>

                    <li class="footer__column-listItem"> 
                        <a href="/account">
                            Meus Créditos 
                        </a>
                    </li>

                </ul>
            </div>
            <div class="footer__column column-04">
                <h4> Políticas <span class="arrow"> </span> </h4>
                <ul class="footer__column-list">

                    <li class="footer__column-listItem"> 
                        <a href="/institucional/nossa-empresa#politica-privacidade">
                            Privacidade 
                        </a>
                    </li>

                    <li class="footer__column-listItem"> 
                        <a href="/institucional/nossa-empresa#politica-troca">
                            Política de troca 
                        </a>
                    </li>

                    <li class="footer__column-listItem"> 
                        <a href="/institucional/nossa-empresa#formaPagamento">
                            Pagamento 
                        </a>
                    </li>

                    <li class="footer__column-listItem"> 
                        <a href="/institucional/nossa-empresa#comoComprar">
                            Entrega  
                        </a>
                    </li>

                    <li class="footer__column-listItem"> 
                        <a href="/institucional/nossa-empresa#politica-privacidade">
                            Segurança 
                        </a>
                    </li>

                </ul>
            </div>
            <div class="footer__column column-05">
                <h4> Pagamento <span class="arrow"> </span> </h4>
                <ul class="footer__column-list">
                    <li class="footer__column-listItem">
                        <vtex:bandeirasCartao />
                    </li>
                </ul>
            </div>
            <div class="footer__column column-06">
                <h4> Segurança <span class="arrow"> </span> </h4>
                <ul class="footer__column-list">
                    <li class="footer__column-listItem">
                        <a href="https://letsencrypt.org/pt-br/" target="_blank">
                            <vtex.cmc:letsEncrypt />
                        </a>
                    </li>
                </ul>
            </div>
            <div class="footer__column column-07">
                <h4> Social <span class="arrow"> </span> </h4>
                <ul class="footer__column-list">
                    <li class="footer__column-listItem insta">
                        <a href="https://www.instagram.com/adoromeucarro/" target="_blank">

                        </a>
                    </li>
                    <li class="footer__column-listItem face">
                        <a href="https://www.facebook.com/AdoroMeuCarroOficial/" target="_blank">

                        </a>
                    </li>
                    <li class="footer__column-listItem youtube">
                        <a href="https://www.youtube.com/channel/UC499RcGXBfSqLFIyBI4ZCsg" target="_blank">

                        </a>
                    </li>
                    <li class="footer__column-listItem linkedin">
                        <a href="https://www.linkedin.com/company/adoro-meu-carro/" target="_blank">

                        </a>
                    </li>
                </ul>
            </div>
        </section>
    </article>

    <article class="containerFull categoryMap">
        <section class="containerCenter">
            <ul class="categoryMap-list">

            </ul>
        </section>
    </article>

    <article class="containerFull assFooter">
        <div class="containerCenter">
            <p> ADORO MEU CARRO COMERCIO DE AUTOPECAS EIRELI - CNPJ: 34.249.447/0001-10 - RUA MARQUES DE POMBAL, 186, ENGENHO VELHO - EMBU DAS ARTES -SP | TELEFONE: +55 11 93423-4224 | sac@adoromeucarro.com.br </p>
        </div>
    </article>

    <article class="containerFull brands">
        <a href="https://www.agenciaeplus.com.br" target="_blank">
            <vtex.cmc:logoEplus />
        </a>

        <a href="https://vtex.com/br-pt/" target="_blank">
            <vtex.cmc:logoVtex />
        </a>
    </article>
</footer>