//fonte padrão apenas para não dar erros na inicialização do Sass
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

@font-face {
    font-family: 'icomoon';
    src: url(/arquivos/icomoon.woff.css);
    src: url(/arquivos/icomoon.woff.css#iefix) format('embedded-opentype'),
        url(/arquivos/icomoon.woff.css) format('woff')
}

@font-face {
    font-family: 'geometosregular';
    src: url('/arquivos/geometos-webfont.woff2.css') format('woff2'),
         url('/arquivos/geometos-webfont.woff.css') format('woff');
    font-weight: normal;
    font-style: normal;
}